<div class="body-wrapper">
  <div><h1>SpaceX Launch Program</h1></div>
  <div class="body-wrapper__wrapper">
    <div class="body-wrapper_filter">
      <app-space-filter></app-space-filter>
    </div>
    <div class="body-wrapper_space">
      <app-space-card class="body-wrapper_space-card"
                      *ngFor="let a of [1,2,3,4,5]"
      ></app-space-card>
    </div>
  </div>
  <div class="body-wrapper_devBy">
    <div class="body-wrapper_devBy-text">Developed by:</div>
    <div class="body-wrapper_devBy-value">Ritu Gupta</div>
  </div>
</div>
