<div class="space-card">
  <div class="space-card__wrapper">
    <div>
      <img class="space-card__wrapper-image"
           [src]="imgUrl"
      >
    </div>
    <div class="space-card__wrapper">
      <div class="space-card__wrapper-text">
        <span class="space-card__wrapper-text-color">{{missionName}} # {{flightNumber}}</span>
      </div>
      <div class="space-card__wrapper-block">
        <span class="space-card__wrapper-block-text">Mission Ids: </span>
        <ul *ngFor="let id of missionIds">
          <li>{{id}}</li>
        </ul>
      </div>
      <div class="space-card__wrapper-block">
        <span class="space-card__wrapper-block-text">Launch Year: </span>
        <span>{{launchYear}}</span>
      </div>
      <div class="space-card__wrapper-block">
        <span class="space-card__wrapper-block-text">Successful Launch: </span>
        <span>{{SuccessfulLaunch}}</span>
      </div>
      <div class="space-card__wrapper-block">
        <span class="space-card__wrapper-block-text">Successful Landing: </span>
        <span>{{SuccessfulLand}}</span>
      </div>
    </div>
  </div>
</div>
