<div class="space-filter__wrapper">
  <h3 class="space-filter__title">Filter</h3>
  <div class="space-filter__body-wrapper">
    <input type="search" placeholder="Launch Year">
    <div class="space-filter__body-wrapper-wrap">
      <button
        *ngFor="let year of _years">
        <span class="space-filter__body-wrapper-inner-block-text">{{year}}</span>
      </button>
    </div>
  </div>

  <div class="space-filter__body-wrapper space-filter__body-wrapper-block">
    <input type="search" placeholder="Successful Launch">
    <div class="space-filter__body-wrapper-inner-block">
      <button><span class="space-filter__body-wrapper-inner-block-text">True</span></button>
      <button><span class="space-filter__body-wrapper-inner-block-text">False</span></button>
    </div>
  </div>

  <div class="space-filter__body-wrapper space-filter__body-wrapper-block">
    <input type="search" placeholder="Successful Land">
    <div class="space-filter__body-wrapper-inner-block">
      <button><span class="space-filter__body-wrapper-inner-block-text">True</span></button>
      <button><span class="space-filter__body-wrapper-inner-block-text">False</span></button>
    </div>
  </div>

</div>
