button {
  width: 4rem;
  height: 1.7rem;
  background-color: #92da92;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3rem;
  margin-top: 1rem;

  &:hover {
    background-color: #239123;
  }

  &:active {
    background-color: #239123;
  }

}

input[type="search"] {
  width: 9rem;
  text-align: center;
  border-color: transparent transparent grey transparent ;

  &:focus{
    outline: none;
  }
}
